.bc-background-el-al,
.bc-background-el-al-1 { background-color: #131137; }
.bc-color-el-al,
.bc-color-el-al-1 { color: #131137; }
.bc-background-el-al-2 { background-color: #918978; }
.bc-color-el-al-2 { color: #918978; }
.bc-background-gallaudet-university,
.bc-background-gallaudet-university-1 { background-color: #00457c; }
.bc-color-gallaudet-university,
.bc-color-gallaudet-university-1 { color: #00457c; }
.bc-background-gallaudet-university-2 { background-color: #e8d4a2; }
.bc-color-gallaudet-university-2 { color: #e8d4a2; }