/* CSS Document */
#scrolltop {
	right: 10px;
	bottom: 10px;
	background-color: rgba(0,0,0,0.60);
	text-align: center;
	color: rgba(255,255,255,1.00);
	line-height: 40px;
	display: none;
	width: 40px;
	height: 40px;
	position: fixed;
}
#scrolltop:hover {
	background-color: rgba(255,255,255,0.59);
	color: rgba(0,0,0,1.00);
}
